mat-grid-tile {
  background: rgb(136, 131, 110);
  border: 1px solid black;
  border-radius: 25px 0 25px 0;

}

.content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    margin: 15px;
}
.mat-toolbar{
  background-color: rgb(136, 131, 110);
}
button{
    display: flex;
    justify-content: center;
    width: 3em;
    margin: 0.5em;
}

.filter{
  background-color: rgb(136, 131, 110);
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-bottom: 15px;
}
.botonesFiltro{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  border: 1px solid black;
}

.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: rgb(37, 36, 32);
  --mdc-fab-icon-color: #fff;
  --mat-mdc-fab-color: #fff;
}
