mat-grid-tile {
  background: rgb(153, 176, 194);
  border: 1px solid black;
  border-radius: 25px 0 25px 0;

}

.content{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

button{
    display: flex;
    justify-content: center;
    width: 3em;
    margin: 0.5em;
}