mat-grid-tile {
  background: lightblue;
  border: 1px solid black;

}

.content{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
}