
<div class="nav">
 <p>
    <mat-toolbar>
      <span>Productos</span>
      <span> Cantidad de Productos: {{productCount}}  </span>
      <span>Precio: {{cartPrice | currency}}</span>
    </mat-toolbar>
 </p>
</div>
   

  
  <p>
    <mat-toolbar color="disable">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Aplicar filtros</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </p>
  