.example-spacer {
    flex: 1 1 auto;
  }


mat-toolbar{
  background-color: rgb(136, 131, 110);
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

